<a @attributes="@AdditionalAttributes" class=@ClassNames.Combine(AdditionalAttributes, "drop-shadow-sm ease-in flex flex-col group items-center justify-between no-underline p-2.5 rounded-md space-y-2.5 transition w-fit active:bg-mantle active:ring-accent-dark active:shadow-sm hover:bg-mantle hover:ring-accent-dark hover:shadow-sm", Station is null ? "animate-pulse" : "", Mode is StationCardMode.Active ? "bg-mantle ring-accent-dark shadow-sm" : "") href=@(Station is null ? "#" : $"/station/{Station.Id}")>
    <StationArt class=@ClassNames.Combine(Width is StationCardWidth.Full ? "w-full" : "size-36 sm:size-38 md:size-40", "group-hover:drop-shadow-md") IsInteractive="true" Loading="@ArtworkLoading" Station="@Station" />
    @if (Station is not null)
    {
        <Marquee class=@ClassNames.Combine(Width is StationCardWidth.Full ? "max-w-full" : "max-w-36 sm:max-w-38 md:max-w-40", "ease-in rounded-sm text-gray-400 text-base md:text-sm transition w-full group-hover:underline! hover:underline") Mode="@(MarqueeMode.Active | MarqueeMode.Hover)" Speed="@MarqueeSpeed.Slow" Text="@Station.Name" title="@Station.Name" />
    }
    else
    {
        <div class="bg-crust opacity-80 rounded-sm shadow-xs shrink-0 w-full">&nbsp;</div>
    }
</a>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; init; }

    [Parameter]
    public ImageLoadStrategy ArtworkLoading { get; init; }

    [Parameter]
    public StationCardMode Mode { get; init; }

    [EditorRequired]
    [Parameter]
    public Station? Station { get; init; }

    [Parameter]
    public StationCardWidth Width { get; init; } = StationCardWidth.Default;

}