@using System.Globalization
@using Humanizer
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.WebUtilities

@inherits Stateful<HeaderState>
@implements IAsyncDisposable

@inject IWadioApi Api
@inject IAsyncCache Cache
@inject DOMInterop Dom
@inject HistoryInterop History
@inject LocalStorageInterop LocalStorage
@inject NavigationManager Navigation

<header class="col-span-2 flex flex-row isolate items-center py-2.5 md:py-0 md:pt-2.5 px-2.5 md:px-5.5 row-1 w-full z-10">
    <button class="icon !p-2.5 font-extrabold !hidden md:!flex" type="button" title="Menu" @onclick="@OnMenuToggle">
        <Icon Name="@(IsMenuOpen? IconName.MenuOpen: IconName.Menu)" Size="@TextSize.ExtraLarge2" />
    </button>

    <div class="flex flex-row items-center justify-between md:ml-6.5 w-full">
        <div class="flex flex-row items-center justify-between space-x-2.5 w-fit">
            @if (State.History is not null)
            {
                <button class="icon font-extrabold !p-2.5" type="button" title="Back" @onclick="@OnBackClick" disabled="@(!State.History.IsBackwardSupported)">
                    <Icon Name="@IconName.ArrowBack" Size="@TextSize.ExtraLarge2" />
                </button>

                <button class="icon font-extrabold !p-2.5 !hidden md:!flex" type="button" title="Back" @onclick="@OnForwardClick" disabled="@(!State.History.IsForwardSupported)">
                    <Icon Name="@IconName.ArrowForward" Size="@TextSize.ExtraLarge2" />
                </button>
            }

            <a class=@ClassNames.Combine("btn icon !p-2.5 font-extrabold", State.History is not null ? "!hidden md:!flex" : "mr-2.5") href="/" title="Home">
                <Icon Name="@IconName.Home" Filled="false" Size="@TextSize.ExtraLarge" />
            </a>
        </div>

        <div @ref="@container" class="flex flex-row items-center justify-center mr-2.5 md:mr-6.5 relative w-full md:max-w-1/2 lg:max-w-1/3" @onclickout="@CancelAndReset">
            <form class="flex flex-row items-center relative w-full" rel="search" role="search" @onsubmit="@OnSearchSubmit">
                <input class="backdrop-crust text-xl w-full placeholder:font-semibold" placeholder="Search Stations..." type="text" value="@query" @oninput="@OnSearchInput" />
                <button class="absolute icon end-2" title="Search" type="submit" disabled="@string.IsNullOrWhiteSpace(query)">
                    <Icon Name="@IconName.Search" Size="@TextSize.ExtraLarge2" />
                </button>
            </form>

            @if (State.Stations.HasValue)
            {
                <div class="absolute mt-4 mx-0 px-2.5 md:px-1.5 top-full w-screen z-20 md:w-full">
                    <div class="bg-mantle backdrop-mantle flex flex-col items-center p-2 ring-1 ring-fuchsia-800/20 rounded-sm shadow-sm w-full">
                        @if (!State.IsLoading)
                        {
                            <ul class="space-y-2 w-full">
                                @foreach (var station in State.Stations)
                                {
                                    <li class="p-2.5 ring-0 ring-fuchsia-400/20 rounded-md active:bg-crust active:ring-1 active:shadow-sm hover:bg-crust hover:ring-1 hover:shadow-sm" @key="@station.Id">
                                        <a class="flex flex-row group items-center space-x-4" href="/station/@station.Id" title="@station.Name">
                                            <StationArt class="size-10" IsInteractive="false" IsMetaVisible="false" Station="@station" />
                                            <Marquee class="ease-in font-medium text-gray-400 text-lg transition w-full" Mode="@(MarqueeMode.Active | MarqueeMode.Hover)" Speed="@MarqueeSpeed.Slow" Text="@station.Name" />
                                        </a>
                                    </li>
                                }

                                <li class="p-2.5 ring-0 ring-fuchsia-400/20 rounded-md active:bg-crust active:ring-1 active:shadow-sm hover:bg-crust hover:ring-1 hover:shadow-sm">
                                    <div class="cursor-pointer flex flex-row items-center space-x-4" role="button" @onclick="@OnSearchSubmit">
                                        <div class="flex items-center justify-center w-10">
                                            <Icon Name="@IconName.ArrowForward" Size="@TextSize.ExtraLarge" />
                                        </div>
                                        <span>View More...</span>
                                    </div>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <Loading Size="@TextSize.ExtraLarge" />
                        }
                    </div>
                </div>
            }
        </div>

        <div class="inline-block relative">
            <button class="icon !p-2.5 font-extrabold" type="button" title="App Info" @onclick="@OnAboutClick" rel="help">
                <Icon Name="@IconName.Help" Filled="false" Size="@TextSize.ExtraLarge" />
            </button>

            @if (State.IsApplicationOutdated || State.HasApplicationUpdated)
            {
                <Icon class="absolute motion-safe:animate-pulse drop-shadow-sm right-1.5 top-1.5 text-fuchsia-400" Name="@IconName.ReleaseAlert" Size="@TextSize.ExtraSmall" title="New Release!" />
            }
        </div>
    </div>
</header>

<Dialog @ref="@dialog" OnClose="OnAboutClose">
    <div class="flex flex-row font-medium items-center justify-between">
        <h1 class="font-logo text-6xl text-fuchsia-300">Wadio</h1>
        <a class="ease-in opacity-90 transition hover:opacity-100" href="https://github.com/ESCd/wadio" target="_blank" title="Wadio on GitHub">
            <img class="h-4" src="/github-logo.svg" alt="GitHub logo" />
        </a>
    </div>

    <Divider class="p-2 px-0.5" />

    <div class="max-w-prose py-2.5 space-y-4">
        <p>A music app, powered by <a href="https://www.radio-browser.info" target="_blank">radio-browser</a>.</p>

        @if (State.HasApplicationUpdated)
        {
            <div class="flex flex-row font-medium items-center p-2.5 ring-1 ring-fuchsia-400/80 rounded-sm space-x-2.5 w-full">
                <Icon class="text-fuchsia-400/90" Name="@IconName.ReleaseAlert" Size="@TextSize.ExtraLarge2" title="New Release!" />

                <div class="flex flex-col justify-center">
                    <p>The application has been updated.</p>
                    <p class="font-medium text-xs text-gray-400"><code>v@(State.Version ?? "(none)") -> v@(WadioVersion.Current)</code></p>
                </div>
            </div>
        }
        else if (State.IsApplicationOutdated)
        {
            <div class="flex flex-row font-medium items-center justify-between p-2.5 ring-1 ring-fuchsia-400/80 rounded-sm space-x-2.5 w-full">
                <div class="flex flex-row items-center space-x-2.5">
                    <Icon class="text-fuchsia-400/90" Name="@IconName.ReleaseAlert" Size="@TextSize.ExtraLarge2" title="New Release!" />

                    <div class="flex flex-col justify-center">
                        <p>The version of the application you're running is out-of-date.</p>
                        <p class="text-sm text-gray-400">Please refresh the page to reload resources.</p>
                    </div>
                </div>

                <button class="icon">
                    <Icon Name="@IconName.Cached" Size="@TextSize.ExtraLarge2" @onclick="@(() => Navigation.Refresh(true))" />
                </button>
            </div>
        }

        <div class="bg-crust max-h-72 overflow-y-auto rounded-sm snap-y">
            @if (State.Releases.HasValue)
            {
                <Virtualize Context="release" Items="@State.Releases.Value">
                    <div class="flex flex-col px-0.5 snap-start w-full">
                        <div class="flex flex-row items-center justify-between p-2.5">
                            <div class="flex flex-row items-center space-x-2.5">
                                <code class="font-extrabold text-gray-100 text-lg">v@(release.Version)</code>
                                @if ((release.IsLatest && State.HasApplicationUpdated) && release.Version >= WadioVersion.Current)
                                {
                                    <Icon class="font-medium motion-safe:animate-pulse text-fuchsia-400/90" Name="@IconName.ReleaseAlert" title="New Release!" />
                                }
                            </div>

                            <span class="font-medium text-gray-400 text-sm" title="@release.PublishedAt.LocalDateTime">@release.PublishedAt.LocalDateTime.Humanize()</span>
                        </div>
                        <Divider class="px-2.5" />
                        <Markdown class="p-2 prose-sm" Pipeline="@ReleaseNotesDefaults.Pipeline" Value="@release.Notes" />
                    </div>
                </Virtualize>
            }
            else
            {
                <p class="flex flex-row h-full items-center justify-center">
                    <Loading Size="@TextSize.ExtraLarge3" />
                </p>
            }
        </div>

        <p class="flex flex-col sm:flex-row items-center justify-around space-y-2.5 md:space-y-0">
            <a class="drop-shadow-sm overflow-hidden rounded-full shadow-sm w-fit" href="https://www.buymeacoffee.com/cryptoc1" target="_blank">
                <img class="h-10.5" src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=cryptoc1&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff" loading="lazy" />
            </a>

            <a class="bg-accent drop-shadow-sm flex flex-row justify-around items-center !no-underline p-2.5 rounded-full shadow-sm space-x-0.5 w-fit" href="https://ko-fi.com/cryptoc1" target="_blank">
                <img class="shrink-0 w-6" src="https://storage.ko-fi.com/cdn/cup-border.png" alt="Ko-fi donations" loading="lazy" />
                <span class="font-bold px-2 text-white">Support on Ko-fi</span>
            </a>
        </p>
    </div>

    <div class="flex flex-row items-center justify-between mt-2">
        <div class="flex flex-col">
            <code class="text-xs">v@(WadioVersion.Current)</code>
            <code class="text-xs">&copy;@DateTime.Today.Year Escape Developers</code>
        </div>
        <button type="button" @onclick="@(() => dialog!.Close())">Close</button>
    </div>
</Dialog>

@code {

    private static readonly TimeSpan OutdatedRefreshRate = TimeSpan.FromMinutes(15);

    private CancellationTokenSource cancellation = new();
    private ElementReference container;
    private Dialog dialog;
    private string? query;
    private List<IAsyncDisposable> listeners = [];

    [EditorRequired]
    [Parameter]
    public bool IsMenuOpen { get; init; }

    [Parameter]
    public EventCallback OnMenuToggle { get; init; }

    [CascadingParameter]
    public SearchContext SearchContext { get; init; }

    private async Task<bool> CancelAndReset()
    {
        await cancellation.CancelAsync();
        if (!cancellation.TryReset())
        {
            cancellation.Dispose();
            cancellation = new();
        }

        return await Mutate(HeaderState.Reset);
    }

    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
        if (disposing)
        {
            cancellation.Dispose();
            Navigation.LocationChanged -= OnLocationChanged;
        }
    }

    public async ValueTask DisposeAsync()
    {
        Dispose(true);
        foreach (var listener in listeners)
        {
            await listener.DisposeAsync();
        }

        listeners.Clear();
    }

    private async Task OnAboutClick()
    {
        await dialog!.Open();
        await Mutate(state => HeaderState.LoadReleases(Cache, Api.Releases, state));
    }

    private Task OnAboutClose()
    {
        if (State.HasApplicationUpdated)
        {
            // NOTE: clear the notification badge
            return Mutate(state => state with { Version = WadioVersion.Current });
        }

        return Task.CompletedTask;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Mutate(state => HeaderState.LoadHistorySupport(Dom, History, state));

            Navigation.LocationChanged += OnLocationChanged;
            listeners.Add(await Dom.AddAppInstalledListener(OnAppInstalled));
            listeners.Add(await Dom.AddClickOutListener(container));
            listeners.Add(await Dom.AddFullscreenChangeListener(OnFullscreenChange));

            await Mutate(state => HeaderState.LoadVersion(LocalStorage, state));
            listeners.Add(new Timer(OnCheckForUpdate, this, OutdatedRefreshRate, OutdatedRefreshRate));
        }
    }

    private Task OnAppInstalled() => Mutate(state => HeaderState.LoadHistorySupport(Dom, History, state));

    private async Task OnBackClick() => await History.Back();

    private static async void OnCheckForUpdate(object? state)
    {
        ArgumentNullException.ThrowIfNull(state);

        var header = (Header)state;
        await header.Mutate(state => HeaderState.RefreshOutdated(header.Api, state));
    }

    private async Task OnForwardClick() => await History.Forward();

    protected override Task OnInitializedAsync()
    {
        TryRestoreFromPersistence();
        return Task.CompletedTask;
    }

    private async void OnLocationChanged(object? _, LocationChangedEventArgs e)
    {
        await CancelAndReset();
        if (Uri.TryCreate(e.Location, UriKind.RelativeOrAbsolute, out var url))
        {
            query = default;
            if (url.AbsolutePath.StartsWith("/search"))
            {
                QueryHelpers.ParseQuery(url.Query).TryGetValue(nameof(Pages.Search.Name), out var name);
                query = name;
            }

            StateHasChanged();
        }

        if (State.History is not null)
        {
            await Mutate(state => HeaderState.RefreshHistorySupport(History, state));
        }
    }

    private Task OnFullscreenChange() => Mutate(state => HeaderState.LoadHistorySupport(Dom, History, state));

    private async Task OnSearchSubmit() => await SearchContext.Search(query);

    private async Task OnSearchInput(ChangeEventArgs e)
    {
        if (BindConverter.TryConvertToString(e.Value, CultureInfo.CurrentCulture, out var value))
        {
            if (string.IsNullOrWhiteSpace(query = value?.Trim()))
            {
                await CancelAndReset();
                return;
            }

            await CancelAndReset();
            try
            {
                await Task.Delay(375, cancellation.Token);
                await Mutate(state => HeaderState.Search(Api.Stations, Cache, query, state, cancellation.Token));
            }
            catch (OperationCanceledException cancelled) when (cancelled.CancellationToken == cancellation.Token)
            {
                await Mutate(HeaderState.Reset);
            }
        }
    }
}